 *{
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     
 }
     
.body{
    font-family: "poppins" sans-serif;
    font-size: 18px;
    font-weight: 600px;
}

.flex-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.flex-logo img{
    margin-top: 10px;
    margin-left: 28px;

}
.flex-logo button{
margin-top: 15px;
border: none;
outline: none;
font-size: 18px;
padding: 15px 34px;
border-radius: 25px;
background-color: hsl(321, 100%, 78%);
color: white;

}

.flex-logo button :hover{
    opacity: 0.6;
}

.build-sec{
    font-family: "poppins" sans-serif;
    font-size: 18px;
    margin-left: 50px;
    margin-top: 30px;
}


.build-content{
    display: flex;
flex-direction: column;
    align-items: center;
     font-family: "poppins" sans-serif;
     font-size: 18px;
     font: weight 200px;
}
.build-content h1{
margin-bottom: 15px;

}
.build-content p{
    font-size: 18px;
    font-weight: 200px;
    margin-left: 15px;
    margin-right: 12px;
     width: 450px;

}
.build-content button{
    margin-top: 1em;
    margin-bottom: 0.8em;
    border: none;
    font-size: 18px;
    padding: 16px 30px;
    border-radius: 20px;
    background-color:hsl(322, 100%, 66%) ;
    color: white;
}  

.img-screen{
    
}



.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
  
  
.card-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-left: 75px;
}
    


    






 



