 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 .body {
   width: 100%;
   height: 100vh;
 }

 .main-container{
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: red;
    
    
 }
 .flex-logo {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;

}
.flex-logo button{
border: 1px solid hsl(321, 100%, 78%);
border-radius: 25px;
color:  hsl(321, 100%, 78%);
background-color: transparent;
width: 100px;    
/* //how fat you want  */
height: 30px; 
text-transform: capitalize;
 /* // how long  */
/* padding: 2em 1em; */
}

.build-sec{
padding: 7em 5em;

}


.build-content{
 display: flex;
 flex-direction: column;
 align-items: center;

}

.build-content h1{
    font-family:"poppins" sans-serif ;
    padding: 12px;
}


.build-content p{
    font-family: "open sans" sans-serif;
    font-weight: 200px;
    width: 420px;

}   
  .build-content button{
      margin: 30px;
      padding: 10px;
      border-radius: 25px;
      width: 270px;
      height: 55px;
      background-color: hsl(322, 100%, 66%);
      border: none;
      color: white;
      font-size: 15px;
      outline: none;
  }
.started-button :hover{
    opacity: 0.6;
}

.build-sec img{
width: 100%;
height: 500px;  
}



.flex-communities{
    display: flex;
    justify-content: space-evenly;
    /* gap: 6em; */
}
.flex-communities div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.flex-communities img{
   width: 30px;
   height:30px;
}

.flex-communities h1{
    font-family: "poppins" sans-serif;
    font-size: 55px;
    
}

.flex-communities p{
     font-family: "open sans" sans-serif;
     font-size: 20px;
     text-transform: capitalize;
     
}



section{
    display: flex;
}
.section-one{
    background-image: url(./images/bg-section-bottom-desktop-1.svg);
    background-repeat: no-repeat;
    /* height: 300px; */
    display: flex;
      padding: 9em 0;
      background-size: cover;
      
}     
section img{
    width: 100%;
    height: 300px;

}

.content-grow{
    padding: 10px;
}











ul li{
    text-decoration-style: none;
}
footer{
    background-image: url("./images/bg-footer-top-desktop.svg");
    background-position: top;
    background-repeat: no-repeat;
    /* background-size: 400px; */
    /* height: 500px; */
    /* background-color: hsl(192, 100%, 9%); */
}

.flex{
    background-color: hsl(192, 100%, 9%);
}
.flex ul{
    list-style: none;
    /* remove the li bulletpoint  */
}


 /* .flex-logo {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .flex-logo img {
     margin-top: 10px;
     margin-left: 28px;
 }

 .flex-logo button {
     margin-top: 15px;
     border: none;
     outline: none;
     font-size: 18px;
     padding: 15px 34px;
     border-radius: 25px;
     background-color: hsl(321, 100%, 78%);
     color: white;
 }

 .flex-logo button :hover {
     opacity: 0.6;
 }

 .build-sec {
     font-family: "poppins" sans-serif;
     font-size: 18px;
     margin-left: 50px;
     margin-top: 30px;
 }

 .build-content {
     display: flex;
     flex-direction: column;
     align-items: center;
     font-family: "poppins" sans-serif;
     font-size: 18px;
     font: weight 200px;
 }

 .build-content h1 {
     margin-bottom: 15px;

 }

 .build-content p {
     font-size: 18px;
     font-weight: 200px;
     margin-left: 15px;
     margin-right: 12px;
     width: 450px;

 }

 .build-content button {
     margin-top: 1em;
     margin-bottom: 0.8em;
     border: none;
     font-size: 18px;
     padding: 16px 30px;
     border-radius: 20px;
     background-color: hsl(322, 100%, 66%);
     color: white;
 }

 .img-screen {}

 .flex-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

 }

 .card-one {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-left: 75px;
 } */